*.class

# Package Files #
*.jar
*.war
*.ear

# for gradle
.gradle
build/

# for eclipse
.settings
.classpath
.project

# for idea
*.iml
*.ipr
*.iws
target
out/production/Mensch-aergere-dich-nicht/fonts/Arizonia-Regular.ttf
out/production/Mensch-aergere-dich-nicht/fonts/PressStart2P-Regular.ttf
out/production/Mensch-aergere-dich-nicht/git.properties
out/production/Mensch-aergere-dich-nicht/sprites/notFound.png
out/production/Mensch-aergere-dich-nicht/sprites/test.png
src/main/java/de/spareripsproduction/madn/client/scene/SettingsScene.java
