*.class

# Package Files #
*.jar
*.war
*.ear

# for gradle
.gradle
build/

# for eclipse
.settings
.classpath
.project

# for idea
*.iml
*.ipr
*.iws
.tmp/

.tmp/*

.tmp/**

bin/

bin/*

bin/**

target/

target/*

target/**

.tmp/model_*.xmi

model_*.xmi
